<!DOCTYPE html>
<html>
<head>
    <title>Gráfica de Columnas</title>
    <!-- Carga la biblioteca de Google Chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        // Carga la visualización de Google Chart
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            // Obtiene los datos del diccionario json_data
            var jsonData = {{ json_data|safe }};
            print(jsonData.Datos)
            print(jsonData.titulo)

            // Crea un DataTable de Google Chart
            var data = new google.visualization.arrayToDataTable({{datos|safe}});

            // Configura las opciones de la gráfica
            var options = {
                title: {{titulo|safe}},
                hAxis: {title: 'Fecha'},
                vAxis: {title: 'Puntaje'},
                legend: 'none'
            };

            // Crea una instancia de la gráfica de columnas y la dibuja en el elemento con ID 'chart_div'
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
    <!-- Elemento HTML donde se dibujará la gráfica -->
    <div id="chart_div" style="width: 100%; height: 400px;"></div>
</body>
</html>
