<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link href="{% static 'style.css'%}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Fraction Space</title>
  </head>
  <body>
    <header>     
      <video autoplay loop poster="https://github.com/luismtzrmz120/pagina-web/blob/main/fondoespacio.png" controls>
        <source src="https://github.com/luismtzrmz120/pagina-web/blob/main/Mockup%20-%20Equipo%201.mp4" type="video/mp4">
      </video>
      <div class="header">
        <img src="https://github.com/luismtzrmz120/pagina-web/blob/main/Logo%20Fraction%20Space%20Nuevo.png">
        <h1 id="titulo">Fraction Space</h1>
      </div>      
      <nav>
        <ul>
          <li><a href="#" id="enlace-inicio">Inicio</a></li>
          <li><a href="#">¿Quiénes somos?</a></li>
          <li><a href="#">Objetivos</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#" id="enlace-sesion">Iniciar Sesión (Admin)</a></li>
          <li><a href="#" id="enlace-registro">Registro</a></li>
        </ul>
      </nav>
    </header> 
    <main>
      <section>
        <h2>A TU ALCANCE</h2>
        <h2>FRACTION SPACE</h2>
        <article>
          <p>¡Viajar en el espacio, luchar y aprender jamas había sido tan divertido!</p>
        </article>
        <article>
    </main>
    <footer>
      <p>Derechos reservados &copy; 2023 Fraction Space Company</p>
    </footer>
  </body>
</html>

