<html>
    <head>
        {% load static %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Site Metas -->
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <!-- slider stylesheet -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css"/>

        <!-- bootstrap core css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>

        <!-- fonts style -->
        <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&amp;display=swap" rel="stylesheet"/>

        <!-- Custom styles for this template -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet"/>

        <!-- responsive style -->
        <link href="{% static 'css/responsive.css' %}" rel="stylesheet"/>
        
        <!-- Título para pestaña de página web -->
        <title>Panel de administrador</title>

        <!-- Libreria loader.js de Google Charts -->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
       
        <!-- Código JavaScript gráfica Gauge -->
        <script type="text/javascript">
            google.charts.load('current', {'packages':['gauge']});
            google.charts.setOnLoadCallback(drawChart);
      
            function drawChart() {
                // Falta pasar parámetro para variable los datos
              var data = google.visualization.arrayToDataTable({{losDato|safe}});
      
              var options = {
                width: 400, height: 140,
                greenFrom: 90, greenTo: 100,
                yellowFrom:70, yellowTo: 90,
                redFrom:50, redTo: 70,
                minorTicks: 5
              };
      
              var chart = new google.visualization.Gauge(document.getElementById('chart_div'));
      
              chart.draw(data, options);
      
            }
        </script>
        
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <!-- Código JavaScript gráfica Pie -->
        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);
    
          function drawChart() {
    
            var data = google.visualization.arrayToDataTable({{losData|safe}});
    
            var options = {
                chart: {
                    title: {{ titulo|safe}},
                    subtitle: {{subtitulo|safe}},
              },
              is3D: true,
            };
    
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
    
            chart.draw(data, options);
          }
        </script>
    

        <!-- Código JavaScript gráfica burbujas -->
        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawSeriesChart);

        function drawSeriesChart() {

          var data = google.visualization.arrayToDataTable({{values|safe}});

          var options = {
            title: {{titulo|safe}},
            titleTextStyle: {color: {{title_color|safe}}},
            hAxis: {title: {{h_title|safe}}, 
                    titleTextStyle: {color: {{axis_color|safe}}}, 
                    textStyle: {color: {{axis_color|safe}}}, 
                    baselineColor: {{axis_color|safe}}},
            vAxis: {title: {{v_title|safe}}, 
                    titleTextStyle: {color: {{axis_color|safe}}}, 
                    textStyle: {color: {{axis_color|safe}}}, 
                    baselineColor: {{axis_color|safe}}},
            bubble: {textStyle: {fontSize: 11,
                                 color: 'pink',
                                 bold: true,
                                 italic: true}},
            series: {title: 'Grupo', 'A': {color: 'green'}, 'B': {color: 'blue'}},
            backgroundColor: {fill: {{fill|safe}}, stroke: {{border_color|safe}}, strokeWidth: 5}
          };

          var chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div'));
          chart.draw(data, options);
        }
        </script>
    </head>
    <body>
        <h1>Análisis de Jugadores</h1>
        <p>Aquí es donde se visualizan las estadísticas de los jugadores del videojuego FractionSapce.</p>
        <h4>Selecciona un usuario</h4>

        <div class="container">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputName4">Grupo</label>
              <input type="text" class="form-control" id="inputName4" name="group"/>
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmail4">Número de lista</label>
              <input type="number" class="form-control" id="inputEmail4" name="numList"/>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="">Aceptar</button>
            </div>
          </div>
        </div>

        <!-- Visualización gráfica gauge -->
        <div id="chart_div" style="width: 1200px; height: 125px;"></div>
        <p>Figura 1. Este tipo de gráficas de medidor radial sirve para ver el desempeño de los alumnos con respecto a algo.</p>
        <P>
          <strong>Interpretación: </strong>Este tipo de gráfica de medidor se interpreta mediante el nombre de usuario y el 
          valor que muestra, el número que muestra este medidor es un porcentaje, el porcentaje de puntos con respecto al jugador 
          que lleva más puntos.
        </P>

        <!-- Visualización gráfica burbujas -->
        <div id="series_chart_div" style="width: 1260px; height: 700px;"></div>
        <p>Figura 2. Esta es una gráfica de burbujas que toma 5 atributos de cada jugador y representa el desempeño por alumno.</p>
        <p>
          En esta gráfica podríamos ver cuales usuarios aprovechan mejor su tiempo en el videojuego, 
          esto trazando una línea recta en el punto (0,0) de la gráfica que lleve al centro de una burbuja 
          en específico, entre mayor sea la pendiente de esta recta el jugador aprovecha mejor su tiempo.
        </p>
        
        <!-- Visualización gráfica pie -->
        <div id="piechart" style="width: 1260px; height: 700px;"></div>
        <p>Figura 3. La gráfica de pie mostrada a continuación muestra el porcentaje de puntos obtenidos por partida y quien los obtuvo con respecto a un 100% el cuál es el total de puntos obtenidos desde el inicio del juego por todos los usuarios..</p>
        <p>
          <strong>Interpretación: </strong>Color: Representa las distintas partidas.
          Porcentaje: Representa a cuanto equivale el puntaje obtenido en una partida con respecto al puntaje total.
          
        </p>
     <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    
    </body>
    
</html>
