<!DOCTYPE html><html><head><meta charset="utf-8"/>

  {% load static %}

  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <!-- Site Metas -->
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css"/>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&amp;display=swap" rel="stylesheet"/>
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet"/>
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats --> 
    <header class="header_section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
              <a class="navbar-brand" href="http://20.198.1.48:8080">
                <h1>
                  Fraction Space
                </h1>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button> 

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex  flex-column flex-lg-row align-items-center">
                  <ul class="navbar-nav  ">
                    <li class="nav-item active">
                      <a class="nav-link" href="http://20.198.1.48:8080">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="http://20.198.1.48:8080/about">¿Quiénes somos? </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="http://20.198.1.48:8080/service">Objetivos </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="http://20.198.1.48:8080/contact">Contacto</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="http://20.198.1.48:8080/login">Iniciar sesión</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="http://20.198.1.48:8080/register">Registro</a>
                    </li>
                  </ul>
                  <!-- <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                    <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button> -->
                  </form>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- welcome section -->
  <section class="welcome_section layout_padding">
    <div class="container">
      <div class="custom_heading-container">
        <h1>
          Objetivos
        </h1>
      </div>
      <div class="layout_padding2">
        <div class="img-box">
          <img src="{% static 'images/Nave3.png' %}"/>
        </div>
        <div class="detail-box">
          <h4>
            El objetivo del juego es permitir que los niños aprendan acerca de las fracciones mientras se divierten, evitando que el tema sea percibido como tedioso o aburrido. Además, los métodos lúdicos utilizados en el juego permiten a los niños practicar lo que han aprendido de una manera entretenida, reforzando así su comprensión del tema.
          </h4>
          <div>
          </div>
        </div>
      </div>
    </div>
  </section>
 <!-- end welcome section-->
 <div class="footer_bg">
  <!-- info section -->
  <section class="info_section layout_padding2-bottom">
    <div class="container">
      <h3 class="">
        Información General
      </h3>
    </div>
    <div class="container info_content">

      <div>
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="d-flex">
              <h5>
                Nombres
              </h5>
            </div>
            <div class="d-flex ">
              <ul>
                <li>
                  <a href="">
                    Luis Martínez
                  </a>
                </li>
                <li>
                  <a href="">
                    Samuel Sandoval
                  </a>
                </li>
                <li>
                  <a href="">
                    Francisco Sánchez
                  </a>
                </li>
                <li>
                  <a href="">
                    Ricardo Campos
                  </a>
                </li>
                <li>
                  <a href="">
                    Javier Valente
                  </a>
                </li>
                <li>
                  <a href="">
                    César Ceballos
                  </a>
                </li>
                <li>
                  <a href="">
                    Antonio Cedillo
                  </a>
                </li>
              </ul>
              <ul class="ml-3 ml-md-5">
                <li>
                  <a href="">
                    A01662619
                  </a>
                </li>
                <li>
                  <a href="">
                    A01656191
                  </a>
                </li>
                <li>
                  <a href="">
                    A01656793
                  </a>
                </li>
                <li>
                  <a href="">
                    A01656898
                  </a>
                </li>
                <li>
                  <a href="">
                    A01662693
                  </a>
                </li>
                <li>
                  <a href="">
                    A01661893
                  </a>
                </li>
                <li>
                  <a href="">
                    A01656823
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="d-flex">
              <h5>
                Profesores
              </h5>
            </div>
            <div class="d-flex ">
              <ul>
                <li>
                  <a href="">
                    Sergio Ruiz
                  </a>
                </li>
                <li>
                  <a href="">
                    Martín Molina
                  </a>
                </li>
                <li>
                  <a href="">
                    Christian Rolando
                  </a>
                </li>
              </ul>
              <ul class="ml-3 ml-md-5">
                <li>
                  <a href="">
                    sergio.ruiz.loza@tec.mx
                  </a>
                </li>
                <li>
                  <a href="">
                    jose.molina@tec.mx
                  </a>
                </li>
                <li>
                  <a href="">
                    christian.vallejo@tec.mx
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="d-flex">
              <h5>
                Info
              </h5>
            </div>
            <div class="d-flex ">
              <ul>
                <li>
                  <a href="">
                    Tec de Monterrey
                  </a>
                </li>
                <li>
                  <a href="">
                    Semestre
                  </a>
                </li>
                <li>
                  <a href="">
                    Carrera
                  </a>
                </li>
              </ul>
              <ul class="ml-3 ml-md-5">
                <li>
                  <a href="">
                    CCM
                  </a>
                </li>
                <li>
                  <a href="">
                    4to
                  </a>
                </li>
                <li>
                  <a href="">
                    ITC
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div> 
      <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-baseline">
        <div class="social-box"> 
          <a href="https://es-la.facebook.com/">
            <img src="{% static 'images/fb.png' %}" alt=""/>
          </a>
          <a href="https://twitter.com/?lang=es">
            <img src="{% static 'images/twitter.png' %}" alt=""/>
          </a>
          <a href="https://mx.linkedin.com/">
            <img src="{% static 'images/linkedin1.png' %}" alt=""/>
          </a>
          <a href="https://www.instagram.com/">
            <img src="{% static 'images/instagram1.png' %}" alt=""/>
          </a>
        </div>
        <!-- <div class="form_container mt-5">
          <form action="">
            <label for="subscribeMail">
              Newsletter
            </label>
            <input type="email" placeholder="Enter Your email" id="subscribeMail"/>
            <button type="submit">
              Subscribe
            </button>
          </form>
        </div>
      </div>
    </div> -->

  </section>

  <!-- end info_section -->

  <!-- footer section -->
  <!-- <section class="container-fluid footer_section"> -->
    <p>
      Derechos reservados de Fracción Space © 2023
      <!-- <a href="https://html.design/">Free Html Templates</a> -->
    </p>
  </section>
  <!-- footer section -->
</div>


<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>



</body></html>